* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #039be5;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #444444;
}

.menu {
    display: grid;
    grid-template-columns: 45% 45%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
}

.menu-item p {
    color: #777777;
    font-size: 11px;
}

.menu-item a {
    text-decoration: none;
    color: #039be5;
}

.menu-item {
    box-shadow: 5px 10px 20px #cccccc;
    padding: 20px;
    transition: 0.4s;
}

.menu-item:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.bottom-div {
    display: grid;
    justify-content: center;
    padding: 40px;
}

.bottom-div a {
    text-decoration: none;
    display: inline-block;
    background-color: #039be5;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
}

.definition {
    text-align: center;
    padding: 20px;
    color: #777777;
}