* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    display: grid;
    grid-template-columns: auto auto;
    align-items: flex-start;
    padding: 20px;
    background-color: #757575;
    gap: 20px;
}

canvas {
    border: 2px solid white;
}

.actions {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.action {
    padding-bottom: 20px;
}