* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Fredoka One', cursive;
}

body {
    display: grid;
    grid-template-columns: auto auto;
    align-items: flex-start;
    padding: 20px;
    background-color: #000000;
    gap: 20px;
}

canvas {
    border: 2px solid white;
    box-shadow: 1px 0.5px 10px #00000025;
}

.actions {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.action {
    padding-bottom: 20px;
}

.control {
    padding: 2rem;
}


* {
    color: #777777;
}
#score {
    color: green;
    font-size: 2.0em;
}

#game-over {
    color: red;
}

.actions {
    margin-top: 4rem;
    margin-bottom: 4rem;
    border: 2px solid #ccc;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 2rem;
}